/* Defaults */
body {
  font-family: 'Merriweather', serif;
}

/* Landing page stuff. */

#landing {
  background-color: #FFEBCD;
}

.growth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex: 1;
}

.landing-header {
  color: #121212;
  font-size: 72px;
  line-height: 4.6rem;
  width: 38rem;
  font-family: 'Fira Sans', Arial, sans-serif;
}


.caret:link,  .caret:visited,
.caret:hover, .caret:active {
  text-decoration: none;
  color: inherit;
}

.caret {
  /*scroll-behavior: smooth;*/
}

/* Main body */

#main {
  background-color: #001f3f;
  color: #AAAAAA;
  
}

.slider {
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*height: 95%;*/
  width: 42rem;

  overflow-y: hidden;
}

.slides::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > section {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 42rem;
  margin-right: 50px;
  border-radius: 20px;
  
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;

  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.slider > nav > a {
  align-items: center;
  justify-content: center;
  margin: 0 0 0.5rem 0;
}

.slider > nav > a:active {
  top: 1px;
  text-decoration: underline;
}

.slider > nav > a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > nav > a {
    display: none;
  }
}

/* Flex stuff */

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jumbo {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.slides > section {
  flex-direction: column;
}

#projects{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: left;
  align-content: left;
  width: 95%;
  margin-top: 24px;
  margin-bottom: 16px;
  overflow-y: scroll;
}

#projects::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

#projects::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

#projects::-webkit-scrollbar-track {
  background: transparent;
}


/* Older stuff */

.email {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 24px;
  justify-content: center;
  text-align: right;
}

.section-heading {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 48px;
  padding-top: 12px;
  padding-bottom: 8px;
}

.exp-heading {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 4px;
}

.stack-heading {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 24px;
  font-variant: all-small-caps;
}

.stack {
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

a {
  font-family: 'Merriweather', Arial, sans-serif;
  /*text-decoration: none;*/
  font-variant: all-small-caps;
}

a:hover, a:visited:hover {
  text-decoration: underline;
  color: #e8550b;
}

a:visited {
  /*text-decoration: none;*/
}

a, a:visited {
  color: inherit;
}

.date, .role, .grade {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 12px;
}

.education-box {
  flex-direction: row;
}

.two-column {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  margin-top: 8px;
  margin-bottom: 16px;
  align-items: baseline;  
}
.two-column .first {
  align-items: flex-start;
  width: 15%;
}
.two-column .second {
  width: 85%;
  text-align: right;
}

#stack-lists div {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  align-text: center;
  justify-content: center;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
}

#stack-lists div h3 {
  text-align: center;
}
#stack-lists {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
}

.exp-item {
  margin-top: 32px;
  margin-bottom: 20px;
}

li {
  padding-top: 8px;
  padding-bottom: 4px;
}

ul {
  padding-top:4px;
   list-style-type: disc; 
   list-style-position: inside;
}

h2, h3 {
  padding-top: 8px;
  padding-bottom: 4px;
}

b {
  font-family: 'Merriweather', serif;
  font-variant: all-small-caps;
  font-size: 1.25em;
}

section {
  /*padding-top: 32px;
  padding-bottom: 32px;*/
  display: block;
  justify-content: left;
  align-content: left;
  width: 100%;
  /*min-height: 100%;*/
/*
  margin-top: 24px;
  margin-bottom: 16px;*/
}

img {
  padding-top: 16px;
}

#project > img {
  width: 80%;
  
}
