/* Defaults */
body {
  font-family: 'Merriweather', serif;
}

/* Landing page stuff. */

#landing {
  background-color: #FFEBCD;
}

.growth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex: 1;
}

.landing-header {
  color: #121212;
  font-size: 72px;
  line-height: 4.6rem;
  width: 38rem;
  font-family: 'Fira Sans', sans-serif;
}


.caret:link,  .caret:visited,
.caret:hover, .caret:active {
  text-decoration: none;
  color: inherit;
}

.caret {
  /*scroll-behavior: smooth;*/
}

/* Main body */

#main {
  background-color: #001f3f;
  color: #AAAAAA;
  
}

.slider {
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  height: 95%;
  width: 42rem;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > section {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 42rem;
  margin-right: 50px;
  border-radius: 20px;
  
 /* background: #eee;*/

  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;

  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.slider > nav > a {
  align-items: center;
  justify-content: center;
  margin: 0 0 0.5rem 0;
}

.slider > nav > a:active {
  top: 1px;
  text-decoration: underline;
}

.slider > nav > a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > nav > a {
    display: none;
  }
}


/* Flex stuff */

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jumbo {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}


.slides > section {
  flex-direction: column;
}
